.header {
    background: #fff;
    border-radius: 15px;
    padding: 17px 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    margin-bottom: 0;
    margin-top: 6px;
}

.HeaderBlockUserPic {
    display: block;
    background: var(--main-color);
    color: var(--white);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 4px;
    font-size: 14px;
    margin-right: 20px;
}

.HeaderBlock h1 {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    margin-bottom: 0px;
    margin-top: 6px;
}

.HeaderBlockUserNameRole {
    position: relative;
    top: 6px;
}

.HeaderBlockUserName {
    display: block;
    font-weight: 500;
    font-size: 10px;
    line-height: 3px;
}

.HeaderBlockUserRole {
    font-weight: 300;
    font-size: 10px;
    color: var(--gray-dark);
}
