// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background: #f7f8fa;
    color: #3a3d61;
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

img {
    max-width: 100%;
}

a {
    color: var(--main-color);
}

.text-main {
    color: var(--main-color);
}

.react-bootstrap-table {
    .table {
        font-size: 12px;
        color: #3a3d61;
        border-collapse: separate;
        border-spacing: 0 11px;
        table-layout: fixed;

        .title {
            font-weight: 700;

            a {
                color: #3a3d61;
                text-decoration: none;
            }
        }

        tbody {
            tr {
                background: #fafbfc;
                border-radius: 10px;
                transition: all .3s;

                &:hover {
                    box-shadow: 0 3px 6px rgba(27, 83, 244, .1);
                    cursor: pointer;
                    transition: all .1s;
                }
            }
            td:first-child {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            td:last-child {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }

        thead {
            th {
                border: none;
                color: #949599;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                transition: all .3s;
                padding-bottom: 19px;
            }

            th:focus {
                outline: 0;
            }
        }

        td {
            border: none;
        }

        .product-image {
            background: #fff;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;

            img {
                max-width: 80px;
                max-height: 50px;
                width: 100%;
                object-fit: cover;
            }
        }

        .status {
            color: var(--orange);
            font-weight: 500;
        }

        th[data-row-selection] {
            width: 40px;
        }

        td, th {
            padding: 1rem .75rem;
        }

        th.sortable {
            cursor: pointer;
        }

        td:first-child, th:first-child {
            padding-left: 48px;
        }
    }
}

.react-bootstrap-table-pagination {
    #pageDropDown {
        margin-left: 48px;
        position: relative;
        top: -2px;
        font-size: 12px;
        height: 22px;
        padding: 2px 5px !important;
        background: #fafbfc;
        color: #3a3d61;
        line-height: normal !important;
        border: 1px solid var(--orange) !important;
        border-radius: 5px !important;
        min-width: auto !important;
    }

    .pagination {
        justify-content: flex-end;
    }

    .page-link {
        font-size: 12px;
        padding: 2px;
        text-align: center;
        height: 22px;
        font-weight: 500;
        color: #3a3d61;
        min-width: 22px !important;
    }

    .page-item.active .page-link {
        background-color: #3a3d61;
        border-color: #3a3d61;
        color: white;
    }
}

.react-bootstrap-table th .order-4:before {
    margin-left: 3.5px;
    content: "\2191";
    opacity: .4;
}

.react-bootstrap-table th .order-4:after {
    content: "\2193";
    opacity: .4;
}

.react-bootstrap-table th .caret-4-desc:before {
    margin-left: 3.5px;
    content: "\2191";
    opacity: .4;
}

.react-bootstrap-table th .caret-4-desc:after {
    content: "\2193";
}

.react-bootstrap-table th .caret-4-asc:before {
    margin-left: 3.5px;
    content: "\2191";
}

.react-bootstrap-table th .caret-4-asc:after {
    content: "\2193";
    opacity: .4;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-body {
    padding: 25px 30px;
}

.card-body-info {
    padding: 25px 45px;
}

.infoBlockHeaders {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    color: #B4B6BD;
}

.infoBlockText {
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    color: #3A405F;
}

// Инпуты, селекты и кнопки
.btn {
    max-height: 50px;
}

input:not([type=checkbox]), textarea {
    height: 40px;
    background: #F3F5FA;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    color: var(--dark-color);
    padding: 11px 24px;
    width: 100%;
    transition: 0.5s all;
    font-weight: 500;
}

select {
    height: 40px !important;
    background-color: #F3F5FA !important;
    font-size: 14px !important;
    border: none !important;
    border-radius: 10px !important;
    color: var(--dark-color);
    padding: 11px 24px !important;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background-image: url(/svg/arrow.svg);
    background-repeat: no-repeat;
    background-position: right 20px bottom 16px;
    background-size: 10px;
    font-weight: 500 !important;
}

input:focus, select:focus, textarea:focus, .addButton:hover {
    border: 0;
    outline: none;
    box-shadow: 0 5px 10px rgba(27, 83, 244, 0.05);
    transition: 0.3s all;
}

input::-webkit-input-placeholder {
    color: #B4B6BD;
}

input::-moz-placeholder {
    color: #B4B6BD;
}

input:-moz-placeholder {
    color: #B4B6BD;
}

input:-ms-input-placeholder {
    color: #B4B6BD;
}

label {
    font-weight: 500;
    font-size: 12px;
    color: var(--gray);
}

.addButton {
    border-radius: 15px;
    border: none;
    color: var(--orange) !important;
    background: var(--white) url(/svg/plus.svg) no-repeat 21px 13px !important;
    min-width: 206px;
    padding-left: 67px;
    font-weight: 500;
    font-size: 12px;
    line-height: 35px;
    padding-right: 30px;
}

.editButton {
    color: var(--main-color) !important;
    background: var(--white) url(/svg/edit.svg) no-repeat 0px 4px !important;
    padding-left: 26px;
    font-weight: 500;
    font-size: 12px;
    line-height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button {
    border-radius: 15px !important;
    border: none !important;
    padding-left: 36px !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 35px !important;
    padding-right: 36px !important;
    min-width: 140px;
}

.btn-primary {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
    box-shadow: 0px 5px 10px rgba(27, 83, 244, 0.2);
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
    box-shadow: 0px 5px 10px rgba(27, 83, 244, 0.25);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
    box-shadow: 0px 5px 10px rgba(27, 83, 244, 0.25);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 161, 225, 0.5);
}

.btn-success {
    color: #fff;
    background-color: var(--orange);
    border-color: var(--orange);
}

.btn-success:hover {
    color: #fff;
    background-color: var(--orange);
    border-color: var(--orange);
    box-shadow: 0px 5px 10px rgba(244, 114, 27, 0.2);
}

.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: var(--orange);
    border-color: var(--orange);
    box-shadow: 0px 5px 10px rgba(244, 114, 27, 0.3);
}

.btn-success.disabled,
.btn-success:disabled {
    color: #fff;
    background-color: var(--orange);
    border-color: var(--orange);
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: var(--orange);
    border-color: var(--orange);
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0px 5px 10px rgba(244, 114, 27, 0.3);
}

.btn-light {
    color: var(--white);
    background-color: var(--light);
    border-color: var(--light);
}

.btn-light:hover {
    color: var(--white);
    background-color: var(--light);
    border-color: var(--light);
    box-shadow: 0px 5px 10px rgba(200, 204, 215, 0.2);
}

.btn-light:focus,
.btn-light.focus {
    color: var(--white);
    background-color: var(--light);
    border-color: var(--light);
    box-shadow: 0px 5px 10px rgba(200, 204, 215, 0.2);
}

.btn-light.disabled,
.btn-light:disabled {
    color: var(--white);
    background-color: var(--light);
    border-color: var(--light);
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
    color: var(--white);
    background-color: var(--light);
    border-color: #d3d9df;
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
    box-shadow: 0px 5px 10px rgba(200, 204, 215, 0.2);
}


// Поиск

.searchBar input {
    padding-left: 60px !important;
    background: white url(/svg/search.svg) no-repeat 30px 17px !important;
    height: 50px !important;
    transition: 0.5s all !important;
    min-width: 262px;
    font-size: 12px !important;
}

.searchBar input:focus {
    box-shadow: 0 5px 10px rgba(27, 83, 244, 0.1) !important;
    transition: 0.3s all;
}

.searchBar input:hover {
    border: 0;
    outline: none;
    box-shadow: 0 5px 10px rgba(27, 83, 244, 0.05);
    transition: 0.3s all;
}

@media screen and (min-width: 960px) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}
