.Error {
    padding: 20px 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
}

.Error span {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #EB5E28;
    border-radius: 10px;
    padding: 6px 60px;
    display: block;
    margin-bottom: 30px;
}

.ErrorPlaceholder {
    width: 89px;
    height: 89px;
    margin-bottom: 34px;
    display: block;
}

.Reload {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #3A405F;
    background: transparent;
    border: 0;
    box-shadow: none;
    outline: none;
}

.Reload svg {
    margin-right: 13px;
    width: 15px;
}
